/* Set light mode as the default */
:root {
  --urban-swing-blue: #3534Fa;
  --urban-swing-purple: #9a16f5;
  --urban-swing-pink: #e800f2;
  --background-color: white;
  --text-color: black;
  --common-max-width: 1150px;
}

/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Light Mode Logo */
.logo {
  /* background-image: url('/images/urban-swing-logo-light-mode.png'); */
  background-image: url('/images/urban-swing-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
  /* width: 300px; /* width of the temporary logo */
}

/* Dark Mode Styles (Automatically applied via media query) */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
  }

  /* .logo {
    /* background-image: url('/images/urban-swing-logo-dark-mode.png'); 
    background-image: url('/images/temporary-logo-dark-mode.jpg');
  } */
}

/* Default light mode */
.under-construction-logo {
  content: url('/images/under-construction-light-mode.jpg');
  width: 300px; /* Adjust as needed */
  height: auto;
}

/* Dark mode */
body.dark-mode .under-construction-logo {
  content: url('/images/under-construction-dark-mode.jpg');
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--urban-swing-pink);
}

/* General Body Styles */
body {
  margin-top: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--urban-swing-blue);
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  color: var(--urban-swing-purple);
}

p {
  color: var(--text-color);
  padding: 10px;
}

/* Header Styling */
header {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 10px 20px;
  /* text-align: center; */
}

.header-text {
  text-align: center;
  max-width: var(--common-max-width);
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
  color: var(--urban-swing-blue);
}

.header-text p {
  margin: 0;
  font-size: 1.5em;
  font-family: Verdana;
  color: var(--urban-swing-pink);
}

/* Wrapper for all page content */
.content-wrapper {
  width: 100%;
  max-width: var(--common-max-width);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.content-wrapper a:hover {
  background-color: var(--urban-swing-pink);
  color: white;
}

.container p {
  color: var(--urban-swing-pink);
  font-size: 1.5em;
  margin-top: 50px;
}

.faq-container h3 {
  color: var(--urban-swing-purple);
}

/* Navigation Menu (Desktop) */
nav {
  width: 100%;
  max-width: var(--common-max-width);
  position: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}

#menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 10px 0 0;
  width: var(--common-max-width);
}

#menu li {
  margin: 0;
}

#menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2em;
  transition: color 0.3s ease;
  padding: 10px 20px;
  display: inline-block;
}

#menu a:hover {
  background-color: var(--urban-swing-pink);
  color: white;
  transition: all 0.3s ease-in-out;
}

#hamburger-menu {
  display: none;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Style for the Register Now button */
.register-button {
  display: inline-block;
  background-color: var(--urban-swing-pink);
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;
  width: calc(100% - 30px);
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: var(--urban-swing-purple);
}

/* Mobile Styles for Sliding Menu */
@media (max-width: 768px) {
  nav {
    position: relative;
  }

  img {
    max-width: 80%;
    margin: 20px auto;
  }

  .logo {
    width: 80%;
    height: auto;
    max-width: 300px;
    margin: 0 auto; /* Center the logo */
  }

  #menu {
    position: fixed;
    top: 0;
    left: -220px;
    width: 220px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: none;
    flex-direction: column;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  body.menu-open #menu {
    left: 0;
    padding-top: 100px;
    display: block;
  }

  #menu li {
    padding: 10px 0;
    margin: 15px 0;
    list-style: none;
  }

  #menu a {
    display: block;
    padding: 10px 15px;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    font-size: 1.5em;
    transition: color 0.3s ease;
  }

  #menu a:hover {
    background-color: var(--urban-swing-pink);
    color: var(--text-color);
  }

  #hamburger-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 2em;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
  }

  #close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
  }

  #close-menu:hover {
    color: var(--urban-swing-pink);
  }

  body.menu-open #close-menu {
    display: block;
  }
}
